/*Header/Footer*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	cursor: default;
	background: url(images/grey.png);
}

.header {
	position: fixed;
	width: 100%;
	top: 0px;
	min-width: 600px;
	height: 100px;
	opacity: 0.9;
	font-size: 16px;
	background: url(images/dark_wall.png);
}

.header #title {
	position: absolute;
	top: 10px;
	left: 20px;
	color: #ffffff;
	text-transform: uppercase;
}

.header #title:hover {
	color: #33ccff;
}

.header #subtitle {
	position: absolute;
	top: 30px;
	left: 20px;
	color: #bababa;
	text-transform: uppercase;
}

#pages {
	position: absolute;
	white-space: nowrap;
	float: right;
	bottom: 12px;
	right: 40px;
	list-style: none;
	font-size: 12px;
}

#pages li{
	float: right;
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
}

#pages li:hover {
	color: #33ccff;
}

.footer {
	position: fixed;
	width: 100%;
	min-width: 600px;
	height: 40px;
	bottom: 0px;
	background: url(images/dark_wall.png);
	opacity: 0.9;
}

.footer p{
	text-align: right;
	color: #ffffff;
	font-size: 10px;
	padding-right: 20px;
}

/* Content */

#content { /*note: height of this div is dynamic */
	position: relative;
    width: 650px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    top: 100px;
    opacity:0.9;
}

#content p {
	text-align: center;
	padding-bottom: 15px;
	padding-top: 10px;
}

#content a {
	color: #33ccff;
	text-decoration: none;
}

#content dt {
	font-weight: bold;
	padding-bottom: 10px;
}

#content dd {
	padding-bottom: 5px;
}

#projectlist {
	padding-top: 20px;
}

.projectshort {
	font-size: 12px;
}

.feedlist {
	list-style: none;
}

.feeddate {
	font-size: 9px;
	padding-top: 10px;
	color: #5e5e5e;
	text-align: center;
}

.feedtitle {
	padding-top: 5px;
	padding-bottom: 5px;
}

.feedextra {
	font-family: 'Droid Sans Mono', sans-serif;
	font-size: 12px;
	text-indent: -20px;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
}

hr {
	display: block;
	position: relative;
	padding: 0;
	margin: 8px auto;
	height: 0;
	width: 50%;
	max-height: 0;
	font-size: 1px;
	line-height: 0;
	clear: both;
	border: none;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #ffffff;
}